.form {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: $secondary-color;
  border: 1px solid $primary-color;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &-description {
      grid-column: span 2;
    }
  }
  &__input {
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
  }
  &__textarea {
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
  }
}
