.modal {
  background-color: $secondary-color;
  max-width: 800px;
  width: 100%;
  box-shadow: $modal-shadow;
  &__overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d;
  }
  &_delete {
    max-width: 400px;
    width: 100%;
  }
}
